@model Data.CreateEditVMs.OrderCreateEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form method="post" asp-route-id="@ViewBag.Id" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Użytkownik</label>
                <input asp-for="UserId" class="form-control text-center" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label">Data utworzenia</label>
                <input type="date" asp-for="CreateDate" class="form-control text-center" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatusId" class="control-label">Status zamówienia</label>
                <input asp-for="OrderStatusId" class="form-control text-center" />
                <span asp-validation-for="OrderStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label">Aktywne</label>
                <input asp-for="IsActive" class="form-control text-center" value="True" readonly/>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control text-center" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-Mail</label>
                <input asp-for="Email" class="form-control text-center" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label">Numer telefonu</label>
                <input asp-for="MobileNumber" class="form-control text-center" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Adres</label>
                <input asp-for="Address" class="form-control text-center" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label">Sposób płatności</label>
                <input asp-for="PaymentMethodId" class="form-control text-center" />
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPaid" class="control-label">Zapłacone</label>
                <input type="checkbox" name="IsPaid" />
                <span asp-validation-for="IsPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
            <a asp-action="Index"><button class="btn btn-primary">Powrót</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
