@model Data.CreateEditVMs.StockCreateEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj stan</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form method="post" asp-route-id="@ViewBag.Id" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemsId" class="control-label">Id towaru</label>
                <input asp-for="ItemsId" class="form-control text-center" />
                <span asp-validation-for="ItemsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Ilość</label>
                <input asp-for="Quantity" class="form-control text-center" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button class="btn btn-primary">Powrót</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
