<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <p>@await Component.InvokeAsync("PageContentViewComponent", new { type = "AboutUs1stP" })</p>
    </div>
    <div class="row gx-4 gx-lg-5">
        <p>@await Component.InvokeAsync("PageContentViewComponent", new { type = "AboutUs2ndP" })</p>
    </div>
    <div class="row gx-4 gx-lg-5">
        <p>@await Component.InvokeAsync("PageContentViewComponent", new { type = "AboutUs3rdP" })</p>
    </div>
</div>