@model IEnumerable<Data.SelectVMs.CategoryVM>
@{
    ViewData["Title"] = "Sklep komputerowy lamonski.pl";
}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Items" asp-route-category="@item.Id" >
                        <img class="card-img-top" src="@item.ImageURL" alt="@item.Name" />
                        <div class="card-body p-4">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
